.container {
	width: 95%;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 300px 0;
    text-align: center;
    color: #fff;
    background: linear-gradient(
                     rgba(20,20,20, .6), 
                     rgba(20,20,20, .6)), url("../images/haitirelief.jpg") no-repeat center center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 200px;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 50px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    bottom: 0;
    padding: 13px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 25px;
    text-align: left;
}

.donation-amount {
	margin-top: 30px;
	padding: 10px;
	background-color: #EAEAEA;
	text-align:center;
}

.donation-box {
	height: 100px;
	font-size: 50pt;
	width: 300px;
	cursor:auto;
	margin: 0 auto;
	font-weight: bold;
	text-align: right;
}

.donation-button {
	border: 1px solid #228B22;
	width: 300px;
	margin: 30px auto;
	height: 75px;
	line-height: 75px;
	text-align: center;
	transition: .5s;
	color: #FFFFFF;
	font-size: 20pt;
	font-weight: bold;
	background-color: #228B22;
}

.donation-button:hover {
	cursor: pointer;
	background-color: #FFFFFF;
	color: #228B22;
	transition: .5s;
}

.confirmation {
	text-align: center;
}

.charity-description {
	font-size: 12pt;
	margin-top: 20px;
	margin-bottom: 30px;
}

.amount-donated {
	font-size: 40pt;
}

.donated-impact {
	font-size: 23pt;
}

.free-sponsor {
	margin-top: 30px;
	font-size: 25px;
}

.cause-description {
	font-size: 12pt;
}

.facebook-login {
	border: 1px solid #3b5998;
	width: 200px;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin: 30px auto;
	height: 50px;
	line-height: 47px;
	background-color: #3b5998;
}

.facebook-login:hover {
	cursor: pointer;
}

.counter {
	margin-top: 100px;
	font-size: 20pt;
}

.counter-header {
	font-size: 14pt;
	margin-bottom: 90px;
}

.long-title {
	margin-top: 20px;
	text-align: left;
	font-size: 24pt;
	font-weight: bold;
}

.friends {
	text-align: center;
}

.friends-pics-indiv {
	margin-right: 30px;
}

.friends img {
	border-radius: 65px;
}

.donate-amount {
	text-align: center;
	margin: 10px 10px 10px 5px;
	font-size: 20pt;
}

/* CSS for Credit Card Payment form */
.panel-default {
	width: 430px;
	height: 370px;
	margin: 150px auto;
}

.modal {
	padding-right: 0px !important;
}


.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
